* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 55px;
    height: 64px;
    border-radius: 45px;
    background: #FD6E0A;
    align-items: center;
}

.two-btn {
    display: flex;
    align-items: stretch;
}

/* header and navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/banner-bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin: 0%;
}

.nav_title {
    font-weight: 800;
    font-size: 35px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a:hover {
    background-image: linear-gradient(#FD6E0A blue);
}

/* banner styles */

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 20px;
    margin-top: 0;
}

.banner-subtitle {
    font-weight: 600px;
    font-size: 40px;
}

.banner-description {
    color: saddlebrown;
    font-size: 18px;
    margin-bottom: 30px;
}

section{
    margin-top: 130px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    background-image: url('../images/brand-bg.png');
    background-repeat: round;
    text-align: center;
}

.section-title {
    text-align: center;    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.section-description {
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: white;
}

.info-description {
    font-weight: 700px;
    font-size: 20px;
    color: orange;
}

/* What I Do Styles */


.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    align-items: center;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 300;
    color: rgb(100, 102, 93)
}


/* Resume Styles */

.resume-content{
    display: flex;
    justify-content:space-around;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* Contact styles */

.contact .section-title{
    text-align: left;
}
.contact{
    background-image: url('../images/footer-bg.png');
    border-radius: 15px;
    background-repeat: no-repeat;
    display: flex;
    gap: 100px;
    padding: 50px 50px;
    color: yellow;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    height: 30px;
    padding: 30px 18px;

.contact a{
    text-decoration: none;
}

}
input{
    height: 64px;
    
}